{% extends "main.html" %}
{% block home_active %}active{% endblock %}
{% block title %}Home{% endblock %}
{% load home_tags %}

{% block head %}{% endblock %}

{% block body %}
    <div class="row mt-2">
        <div class="col">
            <h1>PiSwitch</h1>
            <h5>What is This?</h5>
            <p class="lead">A hardware device to automagically enter Mario Maker 2 level ID's into the Nintendo Switch in user submission situations; such as Twitch Viewer Levels.</p>
            <h5>Why do This?</h5>
            <p class="lead">Nintendo has yet to release an API or website for Mario Maker 2 and without a hardware device there is no way to programmatically enter level ID's.</p>
            <h5>When is This?</h5>
            <p class="lead">The device is in beta testing and should be available soon.</p>
            <ul>
                <li>
                    Latest Setup Instructions:
                    <a href="https://imgg.site/static/piswitch/instructions.pdf" target="_blank">View in PDF</a>
                </li>
                <li>
                    Source Code Repository:
                    <a href="https://git.cssnr.com/shane/piswitch" target="_blank">https://git.cssnr.com/shane/piswitch</a>
                </li>
            </ul>
            <p>Fore more information contact <a href="https://www.twitch.tv/smashed926" target="_blank" class="text-info">SmAsHeD926</a>.</p>
        </div>
    </div>
{% endblock %}
